<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}Home{% endblock %}</title>

    {% block css %}
        <!-- loader-->
        <link href="/assets/css/pace.min.css" rel="stylesheet"/>
        <script src="/assets/js/pace.min.js"></script>
        <!--favicon-->
        <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <!-- simplebar CSS-->
        <link href="/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
        <!-- Bootstrap core CSS-->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <!-- animate CSS-->
        <link href="/assets/css/animate.css" rel="stylesheet" type="text/css"/>
        <!-- Icons CSS-->
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css"/>
        <!-- Sidebar CSS-->
        <link href="/assets/css/sidebar-menu.css" rel="stylesheet"/>
        <!-- Custom Style-->
        <link href="/assets/css/app-style.css" rel="stylesheet"/>
        <!-- skins CSS-->
        <link href="/assets/css/skins.css" rel="stylesheet"/>
    {% endblock %}

</head>

<body>
<!-- Start wrapper-->
<div id="wrapper">

    <div class="content-wrapper">
        <div class="container-fluid">

            {% block content %}
            {% endblock content %}
        </div>
        <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--End footer-->

</div><!--End wrapper-->

{% block javascript %}

<!-- Bootstrap core JavaScript-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- simplebar js -->
<script src="/assets/plugins/simplebar/js/simplebar.js"></script>
<!-- sidebar-menu js -->
<script src="/assets/js/sidebar-menu.js"></script>

<!-- Custom scripts -->
<script src="/assets/js/app-script.js"></script>

{% endblock %}

</body>
</html>
