{% extends 'base.html.twig' %}

{% block title %}Edit contact{% endblock %}

{% block css %}
    {{ parent() }}
    <!--Bootstrap Datepicker-->
    <link href="/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <!--Bootstrap Datepicker Js-->
    <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <script>
        $('.js-datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy-mm-dd',
        });

    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 mb-3">
            <a href="{{ path('contacts_delete', {'uuid': contact.uuid}) }}"
               class="btn btn-danger px-5 ml-2 pull-right">
                <i class="fa fa-trash"></i>&nbsp;
                Delete
            </a>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.firstName) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.lastName) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.streetAndNumber) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.zip) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.city) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.country) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.phoneNumber) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.birthday) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(form.pictureUrl) }}
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary px-5">
                                <i class="fa fa-save"></i>&nbsp;
                                Save
                            </button>
                            <a href="{{ path('contacts_index') }}" class="btn btn-light px-5">
                                <i class="fa fa-arrow-left"></i>&nbsp;
                                Back
                            </a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}