{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block css %}
    {{ parent() }}
    <!--Data Tables -->
    <link href="/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 mb-3">
            <a href="{{ path('contacts_new') }}" class="btn btn-success px-5 pull-right">
                <i class="fa fa-plus"></i>&nbsp;
                Add
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-table"></i> Contacts</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="default-datatable" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th class="sorting_disabled">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in contacts %}
                                <tr>
                                    <td>{{ item.firstName }} {{ item.lastName }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.phoneNumber }}</td>
                                    <td>{{ item.address.streetAndNumber }}, {{ item.address.zip }} {{ item.address.city }}, {{ item.address.country }}</td>
                                    <td>
                                        <div class="btn-group m-1">
                                            <a href="{{ path('contacts_edit', {'uuid': item.uuid}) }}"
                                               class="btn btn-outline-primary">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="{{ path('contacts_delete', {'uuid': item.uuid}) }}"
                                               class="btn btn-outline-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Row-->
{% endblock content %}

{% block javascript %}
{{ parent() }}

<!--Data Tables js-->
<script src="/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/jszip.min.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
<script src="/assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>

<script>
    $(document).ready(function () {
        //Default data table
        $('#default-datatable').DataTable();
    });
</script>
{% endblock %}